/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400");

html *
{
   color: #FFFFFF !important;
}

.fixed-nav-bar { 
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 9999; 
  width: 100%; 
  height: 50px; 
  background-color: #8c52ff; 
  text-align: center;
}

.object-fit_cover {
  object-fit: cover;
}

.text-box{
    position: static;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-bottom: 0px;
    margin-top: -5px;
}

.blurb {
  margin-bottom: 0px;
  margin-top: 5px;
}

.text-box > h3{
  padding-right: 5px;
}

.teams-list{
    font-size: 100%;
    text-align: center;
    margin-top: 0px;
}

.grid {
  --gap: 20px;
  display: grid;
  gap: var(--gap);

  /* Using min() */
  grid-template-columns:
    repeat(
      auto-fit,
      minmax(
        min(
          (40rem - 100%) * 999,
          100%),
        1fr
      )
    );
}

.item {
  position: relative;
  display: inline-block;
}

.item > img {
  width: 100%;
  object-fit: cover;
}

h3 {
  font-size: 2rem;
  margin-bottom: 0.2rem;
  margin-top: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

p,
a {
  font-family: "Source Sans Pro", sans-serif;
}

/* Generic styles */
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  font-color: white;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: 0.1em;
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  transition: all 0.3s;
}

a:hover {
  opacity: 0.6;
}

/* Styles for the hero image */
.hero {
  background: #000000 50% 65%;
  background-size: cover;
  padding: 4rem 2rem;
  /* grid styles */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
}

.hero > * {
  color: white;
}

.hero > h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
}

.hero > article > p {
  font-size: 1.5rem;
  font-weight: 200;
}

.hero > article > a {
  padding: 1rem;
  margin-top: 0.75rem;
}

/* players styles */
.players {
  padding: 2rem;
}

.FAQ_wrapper{
  padding-top: 0.01rem;
  padding-left: 25rem;
  padding-right: 25rem;
  padding-bottom: 0.01rem;
  margin-top: 3.5rem;
  background: black;
  text-align: center;
}

/* footer */
footer {
  background-color: #333;
  padding: 0.75rem;
  color: white;
  text-align: center;
  font-size: 0.75rem;
}
